* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.special::before {
  content: 'I am before -- ';
  font-size: 14px;
  color: coral;
}

.special::after {
  content: ' -- I am after';
  font-size: 14px;
  color: brown;
}

.dots::before,
.dots::after {
  content: ' -- ';
}

.dash-after {
  position: relative;
  margin-bottom: 25px;
}
.dash-after::after {
  content: '';
  height: 3px;
  width: 75px;
  display: block;
  position: absolute;
  top: calc(100% + 10px);
  background-color: tomato;
}

form input {
  display: block;
  width: 100%;
}
.error {
  margin: 0;
  font-size: 14px;
  color: white;
  background-color: tomato;
  padding: 0.5em 1em;
}

p:empty {
  display: none;
}
.simple-dash {
  margin-bottom: 0;
}
.simple-dash::after {
  content: '';
  height: 2px;
  width: 150px;
  background-color: blue;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  /* 
  uzdeti linija po apacia i afteri
  nenaudoti absolute
  linija turetu buti 2px storio blue spalvos
  turetu buti 10px zemiau pavadinimo ir dar 10px atstumti kitu elementus
  
  */
}
