* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.special::before {
  content: 'I am before -- ';
  font-size: 14px;
  color: coral;
}

.special::after {
  content: ' -- I am after';
  font-size: 14px;
  color: brown;
}

.dots::before,
.dots::after {
  content: ' -- ';
}

.dash-after {
  position: relative;
  margin-bottom: 25px;
}
.dash-after::after {
  content: '';
  height: 3px;
  width: 75px;
  display: block;
  position: absolute;
  top: calc(100% + 10px);
  background-color: tomato;
}

form input {
  display: block;
  width: 100%;
}
.error {
  margin: 0;
  font-size: 14px;
  color: white;
  background-color: tomato;
  padding: 0.5em 1em;
}
